/* base */
@layer base {
	* {
		box-sizing: border-box;
		font-family: outfit, sans-serif;
	}

	button {
		margin: 0;
		font-family: inherit;
		font-size: 100%;
		color: inherit;
		cursor: pointer;
		background-color: transparent;
		background-image: none;
		border: none;
	}

	.toplayer {
		[popover] {
			width: min(80vw, 400px);
			padding: 20px 32px;
			border-color: gray;
			border-radius: 16px;
		}

		[popovertargetaction="hide"] {
			position: absolute;
			top: 12px;
			right: 12px;
			filter: grayscale(1);
		}
	}
}
